{% extends "_base.html" %}

{% block content %}
<div class="grid gap-4 py-8">
    <div class="space-y-6">
        <h2 class="text-center dark:text-gray-300 text-5xl">Where knowledge begins</h2>

        <form id="search-form" class="max-w-xl mx-auto pt-4" method="post">
            <div class="rounded bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white">
                <input
                    id="query"
                    type="text"
                    class="rounded-none w-full text-md p-4 bg-transparent focus:outline-none"
                    placeholder="Ask anything..."
                    autocomplete="off"
                    name="query"
                    required="true"
                    />
                <div class="flex justify-between items-end">
                    <div class="pl-2 pb-2">
                        <button>
                            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-1.5 rounded-lg dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800">
                                GPT-3
                            </span>
                        </button>
                        <button>
                            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-1.5 rounded-lg dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800">
                                GPT-4
                            </span>
                        </button>
                        <button>
                            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-1.5 rounded-lg dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800">
                                Claude
                            </span>
                        </button>
                        <button class="bg-gray-100 text-gray-800 text-xs font-medium me-2 inline-flex px-2.5 py-1.5 rounded-lg dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800">
                            <span>
                                PDF
                            </span>
                            <svg class="w-4 h-4 text-gray-800 dark:text-gray-200 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.8v8.4M7.8 12h8.4m4.8 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="pr-2 pb-2">
                        <button class="bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-1.5 rounded-lg dark:bg-gray-600 dark:text-gray-300 dark:hover:bg-gray-800">
                            <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div id="sse-data" class="hidden max-w-xl mx-auto bg-gray-100 dark:bg-gray-700 p-3 rounded border text-sm dark:text-gray-100 dark:border-gray-600">
            
        </div>
    </div>

</div>

{% endblock content %}

{% block script %}
<script>
    let eventSource;
    const sseData = document.getElementById('sse-data');
    const inputQuery = document.getElementById("query")

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(document.getElementById('search-form'));
        const data = formData.get('query');
        startSSE(data)
    });

    function startSSE(query) {
        const csrftoken = getCookie('csrftoken');
        eventSource = new EventSource('/stream/'+ "?csrfmiddlewaretoken=" + csrftoken + "&query=" + query);
        let streamText = "";
        eventSource.onmessage = (event) => {
            if (event.data === "<END_STREAMING_SSE>") {
                eventSource.close();
                return;
            }

            if (inputQuery.value !== "") {
                inputQuery.value = ""
            }
            sseData.classList.remove("hidden")
            const data = JSON.parse(event.data);
            streamText += data.content
            sseData.innerText = streamText
        };
    }

    function stopSSE() {
        if (eventSource) {
            eventSource.close();
        }
    }
</script>
{% endblock script %}